div#navbar-main{
	min-height: 100%;
    background-color: #fff;
    width: 64px;
    position: fixed;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.04);
    display: block;	
}

div#navbar-main a{
	text-decoration: none;
	color: #da552f;
	display: block;
}

div#navbar-main #main-link{
	width: 100%;
}

div#navbar-main ul{
	width: 100%;
	list-style: none;
}
div#navbar-main ul li{
}
